body {
    font-family: sans-serif;
    background-color: rgb(40, 44, 52);
    color: white;
}

button {
    background-color:white;
    border: 1px solid gray;
    border-radius: 3px;
}

p {
    font-size: 13px;
}

.terminal {
    margin-left: 30px;
    width: 600px;
    height: 375px;
    background-color: black;
}

.game-text-here {
    overflow: scroll;
    scrollbar-color: blue;
    width: 600px;
    height: 375px;
}

.help {
    text-align: center;
    margin-left: 680px;
    margin-top: -375;
    overflow: scroll;
    background-color:beige;
    width: 375px;
    height: 600px;
}

#terminal-type {
    background: rgb(15, 15, 15);
    color: whitesmoke;
    width:500px;
    height: 30px;
    border: 0;
    border-radius: 0px;
    border-bottom-left-radius: 3px;
}

#terminal-type, #enter:focus {
    border: none;
    outline: none;
}

#enter {
    width:100px;
    height: 30px;
    margin-top: -30;
    margin-left: 500px;
}

@media (max-width:1085px) {
    .help {
        margin: auto;
        margin-top: 50px;
    }
    .terminal {
        margin: auto;
    }
    #top {
        text-align: center;
    }
  }

  @media (max-width:610px) {
      .terminal {
          width: 400px;
          height: 500px;
      }
      #terminal-type {
          width: 325px;
          position: absolute;
          top: 572px;
      }
      #enter {
          width: 75px;
          position: absolute;
          top: 602px;
          right: 104px;
      }
  }


