body {
    font-family: sans-serif;
    background-color: rgb(40, 44, 52);
    color: white;
}

button {
    background-color:white;
    border: 1px solid gray;
    border-radius: 3px;
}

p {
    font-size: 13px;
}

.terminal {
    margin-left: 30px;
    width: 600px;
    height: 375px;
    background-color: black;
    border-bottom-right-radius: 3px;
}

.game-text-here {
    overflow: scroll;
    scrollbar-color: blue;
    width: 600px;
    height: 375px;
}

.reference {
    margin-left: 680px;
    margin-top: -375;
    width: 375px;
    height: 600px;
    overflow: scroll;
    background-color:beige;
}

#terminal-type {
    background: rgb(15, 15, 15);
    color: whitesmoke;
    width:500px;
    height: 30px;
    border: 0;
}

#terminal-type, #enter:focus {
    border: none;
    outline: none;
}

#enter {
    width:100px;
    height: 30px;
    margin-top: -30;
    margin-left: 500px;
}

@media (max-width:1085px) {
    .reference {
        margin: auto;
        margin-top: 30px;
    }
    .terminal {
        margin: auto;
    }
  }

